@import url("https://cdn.syncfusion.com/ej2/material.css");

.unorder1 {
  font-size: 16px;
  margin-bottom: 4px;
}

.unorder1::marker {
  color: #22c55e;
}

.unorder2 {
  font-size: 16px;
  margin-bottom: 4px;
}

.unorder2::marker {
  color: #f87171;
}

.unorder3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.unorder3::marker {
  color: #3b82f6;
}
